@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: hsl(257, 68%, 73%);
    --light-red: hsl(0, 67%, 71%);
    --light-yellow: hsl(42, 73%, 74%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --white: hsl(0, 0%, 100%);
    --white-alpha-50: hsl(42, 71%, 87%);
    --border-color-1: hsl(42, 45%, 73%);
    --border--color-2: hsla(44, 45%, 73%);
    --shadow-color: hsl(42, 45%, 73%);
}

.containerDetail span {
    color: var(--light-red);
}

.containerDetail{
    display: flex;
    width: 60vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
  display: grid;
  padding: 20px;
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  border-radius: 15px;
}

img{
    border-radius: 30%;
}

.center{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.containerDetail h1,h2,h3,h4{
    line-height: 1.2;
    color: var(--white);
    margin-bottom: 0.5em;
    background-color: var(--black-70);
    padding: 5px;
    border-radius: 50px;
  }