@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: hsl(257, 68%, 73%);
    --light-red: hsl(0, 67%, 71%);
    --light-yellow: hsl(42, 73%, 74%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --white: hsl(0, 0%, 100%);
    --white-alpha-50: hsl(42, 71%, 87%);
    --border-color-1: hsl(42, 45%, 73%);
    --border--color-2: hsla(44, 45%, 73%);
    --shadow-color: hsl(42, 45%, 73%);
}

input {
    background-color: var(--white);
    border: none;
    padding: 0.5rem;
    width: 13em;
    border-radius: 1rem;
    color: var(--light-red);
    box-shadow: 0 0.4rem var(--white-alpha-50);
    cursor: pointer;
}

select {
    background-color: #eee;
    border: none;
    padding: 0.5rem;
    width: 13em;
    border-radius: 1rem;
    color: var(--black-70);
    box-shadow: 0 0.4rem var(--white-alpha-50);
    cursor: pointer;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 025px;
    position: relative;
    place-items: center;
    text-align: center;
    width: 70%;
    height: 70vh;
    left: 15%;
    background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
    border-radius: 15px;
    margin: 25px;
}

.divTemp{
    display: flex;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0.2rem var(--white-alpha-50);
    padding: 2px 5px 2px 5px;
   }