@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root{
  --main-color: hsl(257, 68%, 73%);
  --light-red: hsl(0, 67%, 71%);
  --light-yellow: hsl(42, 73%, 74%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --white: hsl(0,0%,100%);
  --white-alpha-50: hsl(42,71%,87%);
  --border-color-1: hsl(42, 45%, 73%);
  --border--color-2: hsla(44,45%,73%);
  --shadow-color: hsl(42,45%,73%);
  }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  place-content: center;
  text-align: center;
  
}

body{
  background-color: var(--light-yellow);
  color: var(--black-70);
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4{
  line-height: 1.2;
  color: var(--black-90);
}
.top div {

  place-content: center;
  text-align: center;
}
.top select {
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  width: 13em;
  border-radius: 1rem;
  color: var(--black-70);
  box-shadow: 0 0.4rem var(--white-alpha-50);
  cursor: pointer;
  width: 80%;
  justify-content: center;
  align-items: center;
 }
.top{
  padding: 10px;
  background-color: var(--light-red);
  place-content: center;
  text-align: center;
}

.bar{
  align-content: center;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  position: absolute;
  place-content: center;
  text-align: center;
  width: 100%;
  height: 12%;
  background-color: var(--light-red);
  top: 50px;
  padding: 0px 15% 0px 15%
}



.paginatedContainer{
  position: absolute;
  place-content: center;
  text-align: center;
  width: 70%;
  left: 30vh;
  top: 17%;
}

.containerCards {
  position: absolute;
  top: 26%;
  left: 30vh;
  place-items: center;
  text-align: center;
  width: 70%;
  height: 90vh;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  border-radius: 15px;
}
button{
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0.2rem var(--white-alpha-50);
  padding: 10px 20px 10px 20px;
  right: 0;
 }

.buttons button{
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0.2rem var(--white-alpha-50);
  padding: 5px 40px 5px 40px;
  margin: 10px 0px 5px 0px;
 }
 .buttons{
  border-radius: 25px;
  background-color: var(--black-70);
  margin: 5px 0px 5px 0px;
 }
 
 .filters{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin: 0px 20px 0px 20px;
 }

 .filters select{
  width: 100%;
 }
